# OS metadata
.DS_Store
Thumbs.db

# editors
.idea
*.iml
*.code-workspace
.vscode

# folders
.env
node_modules
dist

# filetypes
*.trc
*.log
*.ini
*.gz
*.swp
~*

# local test files
/*.js

# sap nwrfc sdk
nwrfcsdk*
NWRFCSDK*
NWRFCSDK/
nwrfcsdk/
work