.DS_Store
*.code-workspace
.vscode
.idea
~*
*.trc
*.log

node_modules
dist
*.ini

NWRFCSDK
nwrfcsdk
# OS metadata
.DS_Store
Thumbs.db

# folders
.env
node_modules
dist

# editors
.idea
*.iml
*.code-workspace
.vscode

# filetypes
*.trc
*.log
*.ini
*.gz
*.swp
~*

# local test files
/*.js

# sap nwrfc sdk
nwrfcsdk*
