<template class="ui-header">
    <button class="ui-header-button ui-collapse " show.bind="collapse" click.trigger="fireCollapse()">
        <span class="sap-icon sap-icon-navigation-right-arrow"></span></button>
    <h5>
        <span class="${icon}" if.bind="icon"></span>
        <slot></slot>
    </h5>
    <button class="ui-header-button ui-expand" show.bind="expand" click.trigger="fireExpand()">
        <span class="sap-icon sap-icon-expand"></span></button>
    <button class="ui-header-button ui-close" show.bind="close" click.trigger="fireClose()">
        <span class="sap-icon sap-icon-decline"></span>
    </button>
</template>
