<!-- /COE/RBP_FE_DATATYPES 
//
// rfmcall.py 1.0 at: 2021-01-12 14:46:14 -->

<!-- INPUT PARAMETERS -->

<!-- IS_INPUT /COE/RBP_S_FE_RFM_STRUCTURE todo: param text -->

<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZACCP"
            data-abap="{type: 'string'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZCHAR"
            data-abap="{type: 'string', length: '10'}"
        />
</fd-form-item>


<fd-form-item-checkbox label="Checkbox">
    <fd-checkbox v-model="IS_INPUT.ZCHECKBOX">
</fd-form-item-checkbox>



<fd-form-item>
    <fd-form-label>Client</fd-form-label>
        <fd-input v-model="IS_INPUT.ZCLNT"
            data-abap="{type: 'string', length: '3'}"
            data-shlp="{type:'SH', id:'H_T000'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZCURR"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-date-picker v-model="IS_INPUT.ZDATS"></fd-date-picker>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZDEC"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZDEC217"
            data-abap="{type: 'number', length: '20.7'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZDECF16_MAX"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZDECF16_MIN"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZDECF34_MAX"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZDECF34_MIN"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZFLTP"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZFLTP_MAX"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZFLTP_MIN"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Status of Storage Unit</fd-form-label>
    <fd-select v-model="IS_INPUT.ZFVAL_LEIN_STATU"
        options="{type:'FV', id:'LEIN_STATU'}"
        data-abap="{type: 'string', length: '1'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZINT1"
            data-abap="{type: 'number', length: '3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZINT2"
            data-abap="{type: 'number', length: '5'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZINT4"
            data-abap="{type: 'number', length: '10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Language Key</fd-form-label>
        <fd-input v-model="IS_INPUT.ZLANG"
            data-abap="{type: 'string', length: '1', mid: 'SPR', alpha: 'ISOLA'}"
            data-shlp="{type:'SH', id:'H_T002'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="IS_INPUT.ZLCHR"
        data-abap="{type: 'string', length: '257'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="IS_INPUT.ZLRAW"
        data-abap="{type: 'string', length: '257'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZNUMC"
            data-abap="{type: 'string', length: '6'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZPREC"
            data-abap="{type: 'number', length: '2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="IS_INPUT.ZQUAN"
            data-abap="{type: 'number', length: '4.4'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Difference quantity in alternate unit of measure</fd-form-label>
        <fd-input v-model="IS_INPUT.ZQUAN_SIGN"
            data-abap="{type: 'number', length: '+10.3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="IS_INPUT.ZRAW"
        data-abap="{type: 'string', length: '17'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="IS_INPUT.ZRAWSTRING"
        data-abap="{type: 'string', length: '-1'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>Customer Number</fd-form-label>
        <fd-input v-model="IS_INPUT.ZSHLP_DEBI"
            data-abap="{type: 'string', length: '10', mid: 'KUN', alpha: 'ALPHA'}"
            data-shlp="{type:'SH', id:'DEBI'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Material Number</fd-form-label>
        <fd-input v-model="IS_INPUT.ZSHLP_MAT1"
            data-abap="{type: 'string', length: '18', mid: 'MAT', alpha: 'MATN1'}"
            data-shlp="{type:'SH', id:'MAT1'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Product hierarchy</fd-form-label>
        <fd-input v-model="IS_INPUT.ZSHLP_PRODH"
            data-abap="{type: 'string', length: '18', mid: 'VPR'}"
            data-shlp="{type:'SH', id:'PRODH'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="IS_INPUT.ZSSTRING"
        data-abap="{type: 'string', length: '15'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="IS_INPUT.ZSTRING"
        data-abap="{type: 'string', length: '-1'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-time-picker v-model="IS_INPUT.ZTIMS"></fd-time-picker>
</fd-form-item>


<fd-form-item>
    <fd-form-label>Natural number</fd-form-label>
        <fd-input v-model="IV_COUNT"
            data-abap="{type: 'number', length: '+10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Single-Character Flag</fd-form-label>
        <fd-input v-model="IV_GENERATE"
            data-abap="{type: 'string', length: '1'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Language Key</fd-form-label>
    <fd-select v-model="IV_LANGU"
        options="{type:'CT', id:'T002'}"
        data-abap="{type: 'string', length: '1', alpha: 'ISOLA'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Language Key</fd-form-label>
        <fd-input v-model="IV_LANGU_D"
            data-abap="{type: 'string', length: '1', alpha: 'ISOLA'}"
            data-shlp="{type:'CT', id:'T002'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>ABAP System Field: Name of Current User</fd-form-label>
        <fd-input v-model="IV_UNAME"
            data-abap="{type: 'string', length: '12'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>CHAR12 for SYST</fd-form-label>
        <fd-input v-model="IV_UNAME_DOM"
            data-abap="{type: 'string', length: '12'}"
        />
</fd-form-item>


<!-- CHANGING PARAMETERS -->

<!-- CS_STRUCT /COE/RBP_S_FE_RFM_STRUCTURE todo: param text -->

<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZACCP"
            data-abap="{type: 'string'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZCHAR"
            data-abap="{type: 'string', length: '10'}"
        />
</fd-form-item>


<fd-form-item-checkbox label="Checkbox">
    <fd-checkbox v-model="CS_STRUCT.ZCHECKBOX">
</fd-form-item-checkbox>



<fd-form-item>
    <fd-form-label>Client</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZCLNT"
            data-abap="{type: 'string', length: '3'}"
            data-shlp="{type:'SH', id:'H_T000'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZCURR"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-date-picker v-model="CS_STRUCT.ZDATS"></fd-date-picker>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZDEC"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZDEC217"
            data-abap="{type: 'number', length: '20.7'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZDECF16_MAX"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZDECF16_MIN"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZDECF34_MAX"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZDECF34_MIN"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZFLTP"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZFLTP_MAX"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZFLTP_MIN"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Status of Storage Unit</fd-form-label>
    <fd-select v-model="CS_STRUCT.ZFVAL_LEIN_STATU"
        options="{type:'FV', id:'LEIN_STATU'}"
        data-abap="{type: 'string', length: '1'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZINT1"
            data-abap="{type: 'number', length: '3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZINT2"
            data-abap="{type: 'number', length: '5'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZINT4"
            data-abap="{type: 'number', length: '10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Language Key</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZLANG"
            data-abap="{type: 'string', length: '1', mid: 'SPR', alpha: 'ISOLA'}"
            data-shlp="{type:'SH', id:'H_T002'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="CS_STRUCT.ZLCHR"
        data-abap="{type: 'string', length: '257'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="CS_STRUCT.ZLRAW"
        data-abap="{type: 'string', length: '257'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZNUMC"
            data-abap="{type: 'string', length: '6'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZPREC"
            data-abap="{type: 'number', length: '2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZQUAN"
            data-abap="{type: 'number', length: '4.4'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Difference quantity in alternate unit of measure</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZQUAN_SIGN"
            data-abap="{type: 'number', length: '+10.3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="CS_STRUCT.ZRAW"
        data-abap="{type: 'string', length: '17'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="CS_STRUCT.ZRAWSTRING"
        data-abap="{type: 'string', length: '-1'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>Customer Number</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZSHLP_DEBI"
            data-abap="{type: 'string', length: '10', mid: 'KUN', alpha: 'ALPHA'}"
            data-shlp="{type:'SH', id:'DEBI'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Material Number</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZSHLP_MAT1"
            data-abap="{type: 'string', length: '18', mid: 'MAT', alpha: 'MATN1'}"
            data-shlp="{type:'SH', id:'MAT1'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Product hierarchy</fd-form-label>
        <fd-input v-model="CS_STRUCT.ZSHLP_PRODH"
            data-abap="{type: 'string', length: '18', mid: 'VPR'}"
            data-shlp="{type:'SH', id:'PRODH'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="CS_STRUCT.ZSSTRING"
        data-abap="{type: 'string', length: '15'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="CS_STRUCT.ZSTRING"
        data-abap="{type: 'string', length: '-1'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-time-picker v-model="CS_STRUCT.ZTIMS"></fd-time-picker>
</fd-form-item>


<!-- CT_TABLE /COE/RBP_T_FE_RFM_TABLE_TYPE todo: param text -->
<ui-datagrid data.bind="/COE/RBP_FE_DATATYPES CT_TABLE" title="todo: param text"
            data-summary="false" default-sort=""
            selectable rowselect.trigger="object.selectObject($event.detail)">
    <!-- @formatter:off -->
    <fd-fd-column sortable field="COUNTER" data-abap.bind='{ddic:"INT4", type:"number", format:"integer", length:"+10"}'
              label="Natural number" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '4-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZACCP" data-abap.bind='{ddic:"ACCP", type:"string", format:"accp"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'YYYYMM'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCHAR" data-abap.bind='{ddic:"CHAR", type:"string", length:"10"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCHECKBOX" data-abap.bind='{ddic:"CHAR", type:"string", format:"boolean", length:"1"}'
              label="Checkbox" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCLNT" data-abap.bind='{ddic:"CLNT", type:"string", format:"numeric", length:"3", shlp:{type:'CT', id:'T000'}}'
              label="Client" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': '000 to 999'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCURR" unit="ZCUKY_DTEL" data-abap.bind='{ddic:"CURR", type:"number", format:"currency", length:"7.2"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Currency'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDATS" data-abap.bind='{ddic:"DATS", type:"string", format:"date"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'YYYYMMDD'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDEC" data-abap.bind='{ddic:"DEC", type:"number", format:"decimal", length:"7.2"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': 'Decimal'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF16_MAX" data-abap.bind='{ddic:"D16R", type:"number", format:"decimal", length:"8"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF16_MIN" data-abap.bind='{ddic:"D16R", type:"number", format:"decimal", length:"8"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF34_MAX" data-abap.bind='{ddic:"D34R", type:"number", format:"decimal", length:"16"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF34_MIN" data-abap.bind='{ddic:"D34R", type:"number", format:"decimal", length:"16"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFLTP" data-abap.bind='{ddic:"FLTP", type:"number", format:"float", length:"1.15"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFLTP_MAX" data-abap.bind='{ddic:"FLTP", type:"number", format:"float", length:"1.15"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFLTP_MIN" data-abap.bind='{ddic:"FLTP", type:"number", format:"float", length:"1.15"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFVAL_LEIN_STATU" data-abap.bind='{ddic:"CHAR", type:"string", length:"1", shlp:{type:'FV', id:'LEIN_STATU'}}'
              label="Status of Storage Unit" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZINT1" data-abap.bind='{ddic:"INT1", type:"number", format:"integer", length:"3"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '1-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZINT2" data-abap.bind='{ddic:"INT2", type:"number", format:"integer", length:"5"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '2-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZINT4" data-abap.bind='{ddic:"INT4", type:"number", format:"integer", length:"10"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '4-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZLANG" data-abap.bind='{ddic:"LANG", type:"string", format:"lang", length:"1", shlp:{"type":"SH", "id":"H_T002"}}' alpha-exit="ISOLA" 
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': '1-char lang'}"></fd-fd-column>
    <fd-fd-column sortable field="ZNUMC" data-abap.bind='{ddic:"NUMC", type:"string", format:"numeric", length:"6"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'Numeric string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZPREC" data-abap.bind='{ddic:"PREC", type:"number", format:"integer", length:"2"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0'}"></fd-fd-column>
    <fd-fd-column sortable field="ZQUAN" unit="ZUNIT_DTEL" data-abap.bind='{ddic:"QUAN", type:"number", format:"quantity", length:"4.4"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Quantity'}"></fd-fd-column>
    <fd-fd-column sortable field="ZQUAN_SIGN" unit="ZUNIT_DTEL" data-abap.bind='{ddic:"QUAN", type:"number", format:"quantity", length:"+10.3"}'
              label="Difference quantity in alternate unit of measure" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Quantity'}"></fd-fd-column>
    <fd-fd-column sortable field="ZRAW" data-abap.bind='{ddic:"RAW", type:"string", length:"17"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': 'bytes()', 'comment': 'Binary string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZSHLP_DEBI" data-abap.bind='{ddic:"CHAR", type:"string", length:"10", mid:"KUN", shlp:{type:'SH', id:'C_KUNNR'}}' alpha-exit="ALPHA" 
              label="Customer Number" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZSHLP_MAT1" data-abap.bind='{ddic:"CHAR", type:"string", length:"18", mid:"MAT", shlp:{type:'SH', id:'S_MAT1'}}' alpha-exit="MATN1" 
              label="Material Number" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZSHLP_PRODH" data-abap.bind='{ddic:"CHAR", type:"string", length:"18", mid:"VPR", shlp:{type:'CT', id:'T179'}}'
              label="Product hierarchy" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZTIMS" data-abap.bind='{ddic:"TIMS", type:"string", format:"time"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'HHMMSS'}"></fd-fd-column>
    <!-- @formatter:on -->
</ui-datagrid>

<!-- CT_TABLE /COE/RBP_T_FE_RFM_TABLE_TYPE todo: param text -->

<fd-form-item>
    <fd-form-label>Natural number</fd-form-label>
        <fd-input v-model="CT_TABLE.COUNTER"
            data-abap="{type: 'number', length: '+10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZACCP"
            data-abap="{type: 'string'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZCHAR"
            data-abap="{type: 'string', length: '10'}"
        />
</fd-form-item>


<fd-form-item-checkbox label="Checkbox">
    <fd-checkbox v-model="CT_TABLE.ZCHECKBOX">
</fd-form-item-checkbox>



<fd-form-item>
    <fd-form-label>Client</fd-form-label>
    <fd-select v-model="CT_TABLE.ZCLNT"
        options="{type:'CT', id:'T000'}"
        data-abap="{type: 'string', length: '3'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZCURR"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-date-picker v-model="CT_TABLE.ZDATS"></fd-date-picker>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZDEC"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZDECF16_MAX"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZDECF16_MIN"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZDECF34_MAX"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZDECF34_MIN"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZFLTP"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZFLTP_MAX"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZFLTP_MIN"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Status of Storage Unit</fd-form-label>
    <fd-select v-model="CT_TABLE.ZFVAL_LEIN_STATU"
        options="{type:'FV', id:'LEIN_STATU'}"
        data-abap="{type: 'string', length: '1'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZINT1"
            data-abap="{type: 'number', length: '3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZINT2"
            data-abap="{type: 'number', length: '5'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZINT4"
            data-abap="{type: 'number', length: '10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZLANG"
            data-abap="{type: 'string', length: '1', alpha: 'ISOLA'}"
            data-shlp="{"type":"SH", "id":"H_T002"}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZNUMC"
            data-abap="{type: 'string', length: '6'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZPREC"
            data-abap="{type: 'number', length: '2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="CT_TABLE.ZQUAN"
            data-abap="{type: 'number', length: '4.4'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Difference quantity in alternate unit of measure</fd-form-label>
        <fd-input v-model="CT_TABLE.ZQUAN_SIGN"
            data-abap="{type: 'number', length: '+10.3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="CT_TABLE.ZRAW"
        data-abap="{type: 'string', length: '17'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>Customer Number</fd-form-label>
        <fd-input v-model="CT_TABLE.ZSHLP_DEBI"
            data-abap="{type: 'string', length: '10', mid: 'KUN', alpha: 'ALPHA'}"
            data-shlp="{type:'SH', id:'C_KUNNR'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Material Number</fd-form-label>
        <fd-input v-model="CT_TABLE.ZSHLP_MAT1"
            data-abap="{type: 'string', length: '18', mid: 'MAT', alpha: 'MATN1'}"
            data-shlp="{type:'SH', id:'S_MAT1'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Product hierarchy</fd-form-label>
    <fd-select v-model="CT_TABLE.ZSHLP_PRODH"
        options="{type:'CT', id:'T179'}"
        data-abap="{type: 'string', length: '18', mid: 'VPR'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-time-picker v-model="CT_TABLE.ZTIMS"></fd-time-picker>
</fd-form-item>


<fd-form-item>
    <fd-form-label>Natural number</fd-form-label>
        <fd-input v-model="CV_INT"
            data-abap="{type: 'number', length: '+10'}"
        />
</fd-form-item>


<!-- TABLE PARAMETERS -->

<!-- ET_OUTPUT /COE/RBP_T_FE_RFM_TABLE_TYPE todo: param text -->
<ui-datagrid data.bind="/COE/RBP_FE_DATATYPES ET_OUTPUT" title="todo: param text"
            data-summary="false" default-sort=""
            selectable rowselect.trigger="object.selectObject($event.detail)">
    <!-- @formatter:off -->
    <fd-fd-column sortable field="COUNTER" data-abap.bind='{ddic:"INT4", type:"number", format:"integer", length:"+10"}'
              label="Natural number" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '4-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZACCP" data-abap.bind='{ddic:"ACCP", type:"string", format:"accp"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'YYYYMM'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCHAR" data-abap.bind='{ddic:"CHAR", type:"string", length:"10"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCHECKBOX" data-abap.bind='{ddic:"CHAR", type:"string", format:"boolean", length:"1"}'
              label="Checkbox" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCLNT" data-abap.bind='{ddic:"CLNT", type:"string", format:"numeric", length:"3", shlp:{type:'CT', id:'T000'}}'
              label="Client" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': '000 to 999'}"></fd-fd-column>
    <fd-fd-column sortable field="ZCURR" unit="ZCUKY_DTEL" data-abap.bind='{ddic:"CURR", type:"number", format:"currency", length:"7.2"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Currency'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDATS" data-abap.bind='{ddic:"DATS", type:"string", format:"date"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'YYYYMMDD'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDEC" data-abap.bind='{ddic:"DEC", type:"number", format:"decimal", length:"7.2"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': 'Decimal'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF16_MAX" data-abap.bind='{ddic:"D16R", type:"number", format:"decimal", length:"8"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF16_MIN" data-abap.bind='{ddic:"D16R", type:"number", format:"decimal", length:"8"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF34_MAX" data-abap.bind='{ddic:"D34R", type:"number", format:"decimal", length:"16"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZDECF34_MIN" data-abap.bind='{ddic:"D34R", type:"number", format:"decimal", length:"16"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Decimal float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFLTP" data-abap.bind='{ddic:"FLTP", type:"number", format:"float", length:"1.15"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFLTP_MAX" data-abap.bind='{ddic:"FLTP", type:"number", format:"float", length:"1.15"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFLTP_MIN" data-abap.bind='{ddic:"FLTP", type:"number", format:"float", length:"1.15"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Float'}"></fd-fd-column>
    <fd-fd-column sortable field="ZFVAL_LEIN_STATU" data-abap.bind='{ddic:"CHAR", type:"string", length:"1", shlp:{type:'FV', id:'LEIN_STATU'}}'
              label="Status of Storage Unit" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZINT1" data-abap.bind='{ddic:"INT1", type:"number", format:"integer", length:"3"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '1-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZINT2" data-abap.bind='{ddic:"INT2", type:"number", format:"integer", length:"5"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '2-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZINT4" data-abap.bind='{ddic:"INT4", type:"number", format:"integer", length:"10"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0', 'comment': '4-byte integer'}"></fd-fd-column>
    <fd-fd-column sortable field="ZLANG" data-abap.bind='{ddic:"LANG", type:"string", format:"lang", length:"1", shlp:{"type":"SH", "id":"H_T002"}}' alpha-exit="ISOLA" 
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': '1-char lang'}"></fd-fd-column>
    <fd-fd-column sortable field="ZNUMC" data-abap.bind='{ddic:"NUMC", type:"string", format:"numeric", length:"6"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'Numeric string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZPREC" data-abap.bind='{ddic:"PREC", type:"number", format:"integer", length:"2"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0'}"></fd-fd-column>
    <fd-fd-column sortable field="ZQUAN" unit="ZUNIT_DTEL" data-abap.bind='{ddic:"QUAN", type:"number", format:"quantity", length:"4.4"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Quantity'}"></fd-fd-column>
    <fd-fd-column sortable field="ZQUAN_SIGN" unit="ZUNIT_DTEL" data-abap.bind='{ddic:"QUAN", type:"number", format:"quantity", length:"+10.3"}'
              label="Difference quantity in alternate unit of measure" markup="{'html-tag': 'fd-fd-column', 'initial': '0.0', 'comment': 'Quantity'}"></fd-fd-column>
    <fd-fd-column sortable field="ZRAW" data-abap.bind='{ddic:"RAW", type:"string", length:"17"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': 'bytes()', 'comment': 'Binary string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZSHLP_DEBI" data-abap.bind='{ddic:"CHAR", type:"string", length:"10", mid:"KUN", shlp:{type:'SH', id:'C_KUNNR'}}' alpha-exit="ALPHA" 
              label="Customer Number" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZSHLP_MAT1" data-abap.bind='{ddic:"CHAR", type:"string", length:"18", mid:"MAT", shlp:{type:'SH', id:'S_MAT1'}}' alpha-exit="MATN1" 
              label="Material Number" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZSHLP_PRODH" data-abap.bind='{ddic:"CHAR", type:"string", length:"18", mid:"VPR", shlp:{type:'CT', id:'T179'}}'
              label="Product hierarchy" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="ZTIMS" data-abap.bind='{ddic:"TIMS", type:"string", format:"time"}'
              label="todo: no field text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'HHMMSS'}"></fd-fd-column>
    <!-- @formatter:on -->
</ui-datagrid>

<!-- ET_OUTPUT /COE/RBP_T_FE_RFM_TABLE_TYPE todo: param text -->

<fd-form-item>
    <fd-form-label>Natural number</fd-form-label>
        <fd-input v-model="ET_OUTPUT.COUNTER"
            data-abap="{type: 'number', length: '+10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZACCP"
            data-abap="{type: 'string'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZCHAR"
            data-abap="{type: 'string', length: '10'}"
        />
</fd-form-item>


<fd-form-item-checkbox label="Checkbox">
    <fd-checkbox v-model="ET_OUTPUT.ZCHECKBOX">
</fd-form-item-checkbox>



<fd-form-item>
    <fd-form-label>Client</fd-form-label>
    <fd-select v-model="ET_OUTPUT.ZCLNT"
        options="{type:'CT', id:'T000'}"
        data-abap="{type: 'string', length: '3'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZCURR"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-date-picker v-model="ET_OUTPUT.ZDATS"></fd-date-picker>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZDEC"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZDECF16_MAX"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZDECF16_MIN"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZDECF34_MAX"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZDECF34_MIN"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZFLTP"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZFLTP_MAX"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZFLTP_MIN"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Status of Storage Unit</fd-form-label>
    <fd-select v-model="ET_OUTPUT.ZFVAL_LEIN_STATU"
        options="{type:'FV', id:'LEIN_STATU'}"
        data-abap="{type: 'string', length: '1'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZINT1"
            data-abap="{type: 'number', length: '3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZINT2"
            data-abap="{type: 'number', length: '5'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZINT4"
            data-abap="{type: 'number', length: '10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZLANG"
            data-abap="{type: 'string', length: '1', alpha: 'ISOLA'}"
            data-shlp="{"type":"SH", "id":"H_T002"}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZNUMC"
            data-abap="{type: 'string', length: '6'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZPREC"
            data-abap="{type: 'number', length: '2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZQUAN"
            data-abap="{type: 'number', length: '4.4'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Difference quantity in alternate unit of measure</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZQUAN_SIGN"
            data-abap="{type: 'number', length: '+10.3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="ET_OUTPUT.ZRAW"
        data-abap="{type: 'string', length: '17'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>Customer Number</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZSHLP_DEBI"
            data-abap="{type: 'string', length: '10', mid: 'KUN', alpha: 'ALPHA'}"
            data-shlp="{type:'SH', id:'C_KUNNR'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Material Number</fd-form-label>
        <fd-input v-model="ET_OUTPUT.ZSHLP_MAT1"
            data-abap="{type: 'string', length: '18', mid: 'MAT', alpha: 'MATN1'}"
            data-shlp="{type:'SH', id:'S_MAT1'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Product hierarchy</fd-form-label>
    <fd-select v-model="ET_OUTPUT.ZSHLP_PRODH"
        options="{type:'CT', id:'T179'}"
        data-abap="{type: 'string', length: '18', mid: 'VPR'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-time-picker v-model="ET_OUTPUT.ZTIMS"></fd-time-picker>
</fd-form-item>


<!-- ET_RAW SDOKCNTBINS todo: param text -->
<ui-datagrid data.bind="/COE/RBP_FE_DATATYPES ET_RAW" title="todo: param text"
            data-summary="false" default-sort=""
            selectable rowselect.trigger="object.selectObject($event.detail)">
    <!-- @formatter:off -->
    <fd-fd-column sortable field="LINE" data-abap.bind='{ddic:"RAW", type:"string", length:"1022"}'
              label="Line for binary document contents, length for upload" markup="{'html-tag': 'fd-fd-column', 'initial': 'bytes()', 'comment': 'Binary string'}"></fd-fd-column>
    <!-- @formatter:on -->
</ui-datagrid>

<!-- ET_RAW SDOKCNTBINS todo: param text -->

<fd-form-item>
    <fd-form-label>Line for binary document contents, length for upload</label>
    <fd-textarea v-model="ET_RAW.LINE"
        data-abap="{type: 'string', length: '1022'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<!-- OUTPUT PARAMETERS -->

<!-- ES_OUTPUT /COE/RBP_S_FE_RFM_STRUCTURE todo: param text -->

<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZACCP"
            data-abap="{type: 'string'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZCHAR"
            data-abap="{type: 'string', length: '10'}"
        />
</fd-form-item>


<fd-form-item-checkbox label="Checkbox">
    <fd-checkbox v-model="ES_OUTPUT.ZCHECKBOX">
</fd-form-item-checkbox>



<fd-form-item>
    <fd-form-label>Client</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZCLNT"
            data-abap="{type: 'string', length: '3'}"
            data-shlp="{type:'SH', id:'H_T000'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZCURR"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-date-picker v-model="ES_OUTPUT.ZDATS"></fd-date-picker>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZDEC"
            data-abap="{type: 'number', length: '7.2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZDEC217"
            data-abap="{type: 'number', length: '20.7'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZDECF16_MAX"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZDECF16_MIN"
            data-abap="{type: 'number', length: '8'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZDECF34_MAX"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZDECF34_MIN"
            data-abap="{type: 'number', length: '16'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZFLTP"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZFLTP_MAX"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZFLTP_MIN"
            data-abap="{type: 'number', length: '1.15'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Status of Storage Unit</fd-form-label>
    <fd-select v-model="ES_OUTPUT.ZFVAL_LEIN_STATU"
        options="{type:'FV', id:'LEIN_STATU'}"
        data-abap="{type: 'string', length: '1'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZINT1"
            data-abap="{type: 'number', length: '3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZINT2"
            data-abap="{type: 'number', length: '5'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZINT4"
            data-abap="{type: 'number', length: '10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Language Key</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZLANG"
            data-abap="{type: 'string', length: '1', mid: 'SPR', alpha: 'ISOLA'}"
            data-shlp="{type:'SH', id:'H_T002'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="ES_OUTPUT.ZLCHR"
        data-abap="{type: 'string', length: '257'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="ES_OUTPUT.ZLRAW"
        data-abap="{type: 'string', length: '257'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZNUMC"
            data-abap="{type: 'string', length: '6'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZPREC"
            data-abap="{type: 'number', length: '2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZQUAN"
            data-abap="{type: 'number', length: '4.4'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Difference quantity in alternate unit of measure</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZQUAN_SIGN"
            data-abap="{type: 'number', length: '+10.3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="ES_OUTPUT.ZRAW"
        data-abap="{type: 'string', length: '17'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="ES_OUTPUT.ZRAWSTRING"
        data-abap="{type: 'string', length: '-1'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>Customer Number</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZSHLP_DEBI"
            data-abap="{type: 'string', length: '10', mid: 'KUN', alpha: 'ALPHA'}"
            data-shlp="{type:'SH', id:'DEBI'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Material Number</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZSHLP_MAT1"
            data-abap="{type: 'string', length: '18', mid: 'MAT', alpha: 'MATN1'}"
            data-shlp="{type:'SH', id:'MAT1'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Product hierarchy</fd-form-label>
        <fd-input v-model="ES_OUTPUT.ZSHLP_PRODH"
            data-abap="{type: 'string', length: '18', mid: 'VPR'}"
            data-shlp="{type:'SH', id:'PRODH'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="ES_OUTPUT.ZSSTRING"
        data-abap="{type: 'string', length: '15'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</label>
    <fd-textarea v-model="ES_OUTPUT.ZSTRING"
        data-abap="{type: 'string', length: '-1'}"
        aria-required="true"
    ></fd-textarea>
</fd-form-item>


<fd-form-item>
    <fd-form-label>todo: no field text</fd-form-label>
    <fd-time-picker v-model="ES_OUTPUT.ZTIMS"></fd-time-picker>
</fd-form-item>

