<!-- BAPI_PROCOPERATION_GETCATALOGS 
//
// rfmcall.py 1.0 at: 2021-01-12 14:46:14 -->

<!-- INPUT PARAMETERS -->

<fd-form-item>
    <fd-form-label>Material Group</fd-form-label>
        <fd-input v-model="MATERIAL_GROUP"
            data-abap="{type: 'string', length: '9', mid: 'MKL'}"
            data-shlp="{type:'SH', id:'H_T023'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Plant</fd-form-label>
        <fd-input v-model="PLANT"
            data-abap="{type: 'string', length: '4', mid: 'WRK'}"
            data-shlp="{type:'SH', id:'H_T001W'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Selection flag</fd-form-label>
    <fd-select v-model="WITHOUT_MATERIAL_GRP"
        options="{type:'FV', id:'SELKZ'}"
        data-abap="{type: 'string', length: '1'}"
    >
    </fd-select>
</fd-form-item>



<!-- TABLE PARAMETERS -->

<!-- VALID_CATALOGS BAPICATALOG List of Valid Catalogs -->
<ui-datagrid data.bind="BAPI_PROCOPERATION_GETCATALOGS VALID_CATALOGS" title="List of Valid Catalogs"
            data-summary="false" default-sort=""
            selectable rowselect.trigger="object.selectObject($event.detail)">
    <!-- @formatter:off -->
    <fd-fd-column sortable field="CATALOG" data-abap.bind='{ddic:"CHAR", type:"string", length:"20", shlp:{type:'CT', id:'TMW3T'}}'
              label="Identifier for allowed catalogs" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="CAT_TEXT" data-abap.bind='{ddic:"CHAR", type:"string", length:"30"}'
              label="Name of catalog" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="PURCH_ORG" data-abap.bind='{ddic:"CHAR", type:"string", length:"4", mid:"EKO", shlp:{type:'SH', id:'H_T024E'}}'
              label="Purchasing organization" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="SD_CATALOG" data-abap.bind='{ddic:"CHAR", type:"string", format:"boolean", length:"1"}'
              label="Indicator: SAP product catalog: business-to-business" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="VENDOR" data-abap.bind='{ddic:"CHAR", type:"string", length:"10", mid:"LIF", shlp:{type:'SH', id:'KRED'}}' alpha-exit="ALPHA" 
              label="Vendor's account number" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <!-- @formatter:on -->
</ui-datagrid>

<!-- VALID_CATALOGS BAPICATALOG List of Valid Catalogs -->

<fd-form-item>
    <fd-form-label>Identifier for allowed catalogs</fd-form-label>
    <fd-select v-model="VALID_CATALOGS.CATALOG"
        options="{type:'CT', id:'TMW3T'}"
        data-abap="{type: 'string', length: '20'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Name of catalog</fd-form-label>
        <fd-input v-model="VALID_CATALOGS.CAT_TEXT"
            data-abap="{type: 'string', length: '30'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Purchasing organization</fd-form-label>
        <fd-input v-model="VALID_CATALOGS.PURCH_ORG"
            data-abap="{type: 'string', length: '4', mid: 'EKO'}"
            data-shlp="{type:'SH', id:'H_T024E'}"
        />
</fd-form-item>


<fd-form-item-checkbox label="Indicator: SAP product catalog: business-to-business">
    <fd-checkbox v-model="VALID_CATALOGS.SD_CATALOG">
</fd-form-item-checkbox>



<fd-form-item>
    <fd-form-label>Vendor's account number</fd-form-label>
        <fd-input v-model="VALID_CATALOGS.VENDOR"
            data-abap="{type: 'string', length: '10', mid: 'LIF', alpha: 'ALPHA'}"
            data-shlp="{type:'SH', id:'KRED'}"
        />
</fd-form-item>


<!-- RETURN BAPIRETURN Return Messages -->
<ui-datagrid data.bind="BAPI_PROCOPERATION_GETCATALOGS RETURN" title="Return Messages"
            data-summary="false" default-sort=""
            selectable rowselect.trigger="object.selectObject($event.detail)">
    <!-- @formatter:off -->
    <fd-fd-column sortable field="CODE" data-abap.bind='{ddic:"CHAR", type:"string", length:"5"}'
              label="Message code" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="LOG_MSG_NO" data-abap.bind='{ddic:"NUMC", type:"string", format:"numeric", length:"6", shlp:{type:'CH', id:'BALM'}}'
              label="Application log: Internal message serial number" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'Numeric string'}"></fd-fd-column>
    <fd-fd-column sortable field="LOG_NO" data-abap.bind='{ddic:"CHAR", type:"string", length:"20", shlp:{type:'CH', id:'BALHDR'}}'
              label="Application log: log number" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="MESSAGE" data-abap.bind='{ddic:"CHAR", type:"string", length:"220"}'
              label="Message Text" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="MESSAGE_V1" data-abap.bind='{ddic:"CHAR", type:"string", length:"50"}'
              label="Message Variable" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="MESSAGE_V2" data-abap.bind='{ddic:"CHAR", type:"string", length:"50"}'
              label="Message Variable" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="MESSAGE_V3" data-abap.bind='{ddic:"CHAR", type:"string", length:"50"}'
              label="Message Variable" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="MESSAGE_V4" data-abap.bind='{ddic:"CHAR", type:"string", length:"50"}'
              label="Message Variable" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <fd-fd-column sortable field="TYPE" data-abap.bind='{ddic:"CHAR", type:"string", length:"1"}'
              label="Message type: S Success, E Error, W Warning, I Info, A Abort" markup="{'html-tag': 'fd-fd-column', 'initial': '""', 'comment': 'string'}"></fd-fd-column>
    <!-- @formatter:on -->
</ui-datagrid>

<!-- RETURN BAPIRETURN Return Messages -->

<fd-form-item>
    <fd-form-label>Message code</fd-form-label>
        <fd-input v-model="RETURN.CODE"
            data-abap="{type: 'string', length: '5'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Application log: Internal message serial number</fd-form-label>
    <fd-select v-model="RETURN.LOG_MSG_NO"
        options="{type:'CH', id:'BALM'}"
        data-abap="{type: 'string', length: '6'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Application log: log number</fd-form-label>
    <fd-select v-model="RETURN.LOG_NO"
        options="{type:'CH', id:'BALHDR'}"
        data-abap="{type: 'string', length: '20'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Message Text</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE"
            data-abap="{type: 'string', length: '220'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V1"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V2"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V3"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V4"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message type: S Success, E Error, W Warning, I Info, A Abort</fd-form-label>
        <fd-input v-model="RETURN.TYPE"
            data-abap="{type: 'string', length: '1'}"
        />
</fd-form-item>

