<!-- /COE/RBP_PAM_EQUIP_HIER_GET 0.2 -->

<!-- INPUT PARAMETERS -->

<fd-form-item>
    <fd-form-label>Boolean Variable (X=true, -=false, space=unknown)</fd-form-label>
    <fd-select v-model="IV_DEF_VAL"
        options="{type:'FV', id:'BOOLEAN'}"
        data-abap="{type: 'string', length: '1'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Material Group</fd-form-label>
        <fd-input v-model="IV_EQUIP_TYPE"
            data-abap="{type: 'string', length: '9', mid: 'MKL'}"
            data-shlp="{type:'SH', id:'S_WBWG'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Functional Location</fd-form-label>
        <fd-input v-model="IV_LOCATION"
            data-abap="{type: 'string', length: '30', mid: 'IFL', alpha: 'TPLNR'}"
            data-shlp="{type:'SH', id:'IFLM'}"
        />
</fd-form-item>


<!-- TABLE PARAMETERS -->
