<!-- /COE/RBP_PAM_EQUIPMENT_INSTALL 0.2 -->

<!-- INPUT PARAMETERS -->

<fd-form-item>
    <fd-form-label>Equipment Number</fd-form-label>
        <fd-input v-model="IV_EQUIID"
            data-abap="{type: 'string', length: '18', mid: 'EQN', alpha: 'ALPHA'}"
            data-shlp="{type:'SH', id:'EQUI'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Functional Location</fd-form-label>
        <fd-input v-model="IV_FUNC_LOCATION"
            data-abap="{type: 'string', length: '30', mid: 'IFL', alpha: 'TPLNR'}"
            data-shlp="{type:'SH', id:'IFLM'}"
        />
</fd-form-item>


<!-- OUTPUT PARAMETERS -->
