<!-- BAPI_EQUI_GETLIST 0.2 -->

<!-- INPUT PARAMETERS -->

<fd-form-item>
    <fd-form-label>Language Key</fd-form-label>
        <fd-input v-model="LANGUAGE"
            data-abap="{type: 'string', length: '1', mid: 'SPR', alpha: 'ISOLA'}"
            data-shlp="{type:'SH', id:'H_T002'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>2-Character SAP Language Code</fd-form-label>
        <fd-input v-model="LANGUAGE_ISO"
            data-abap="{type: 'string', length: '2'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Partner Function</fd-form-label>
        <fd-input v-model="PARTNERFUNCTION"
            data-abap="{type: 'string', length: '2', mid: 'PAR', alpha: 'PARVW'}"
            data-shlp="{type:'SH', id:'H_TPAR'}"
        />
</fd-form-item>


<!-- OUTPUT PARAMETERS -->

<!-- RETURN BAPIRET2 Return Parameter -->

<fd-form-item>
    <fd-form-label>Field in parameter</fd-form-label>
    <fd-select v-model="RETURN.FIELD"
        options="{type:'CT', id:'DD03L'}"
        data-abap="{type: 'string', length: '30'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Message Class</fd-form-label>
    <fd-select v-model="RETURN.ID"
        options="{type:'CT', id:'T100A'}"
        data-abap="{type: 'string', length: '20'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Application log: Internal message serial number</fd-form-label>
    <fd-select v-model="RETURN.LOG_MSG_NO"
        options="{type:'CH', id:'BALM'}"
        data-abap="{type: 'string', length: '6'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Application log: log number</fd-form-label>
    <fd-select v-model="RETURN.LOG_NO"
        options="{type:'CH', id:'BALHDR'}"
        data-abap="{type: 'string', length: '20'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Message Text</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE"
            data-abap="{type: 'string', length: '220'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V1"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V2"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V3"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Variable</fd-form-label>
        <fd-input v-model="RETURN.MESSAGE_V4"
            data-abap="{type: 'string', length: '50'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Message Number</fd-form-label>
        <fd-input v-model="RETURN.NUMBER"
            data-abap="{type: 'string', length: '3'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Parameter Name</fd-form-label>
        <fd-input v-model="RETURN.PARAMETER"
            data-abap="{type: 'string', length: '32'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Lines in parameter</fd-form-label>
        <fd-input v-model="RETURN.ROW"
            data-abap="{type: 'number', length: '+10'}"
        />
</fd-form-item>


<fd-form-item>
    <fd-form-label>Logical system from which message originates</fd-form-label>
    <fd-select v-model="RETURN.SYSTEM"
        options="{type:'CT', id:'TBDLS'}"
        data-abap="{type: 'string', length: '10', alpha: 'ALPHA'}"
    >
    </fd-select>
</fd-form-item>



<fd-form-item>
    <fd-form-label>Message type: S Success, E Error, W Warning, I Info, A Abort</fd-form-label>
        <fd-input v-model="RETURN.TYPE"
            data-abap="{type: 'string', length: '1'}"
        />
</fd-form-item>


<!-- TABLE PARAMETERS -->
