<template>
    <ai-dialog>
        <ai-dialog-header>${question}</ai-dialog-header>

        <!--ai-dialog-body>
            <form submit.trigger="controller.ok(answer)">
                <input type="text" value.bind="answer" style="width: 100%; line-height: 16px; font-size: 16px"
                       attach-focus>
            </form>
        </ai-dialog-body-->

        <ai-dialog-footer>
            <ui-navbar class="toolbar">
                <ui-button class="ui-btn-transparent" click.trigger="controller.cancel()">Cancel</ui-button>
                <ui-button class="ui-btn-transparent" click.trigger="controller.ok(answer)">Ok</ui-button>
            </ui-navbar>
        </ai-dialog-footer>
    </ai-dialog>
</template>
